/*=====================
    Typography CSS start
==========================*/

body {
    font-family: $open-sans, $sans-serif;
    position: relative;
    font-size: 14px;
    margin: 0;
    color: $black;
  }

  html {
    scroll-behavior: smooth;
  }
  
  ul {
    padding-left: 0;
    margin-bottom: 0;
    [dir="rtl"] & {
      padding-right: 0;
      padding-left: unset;
    }
  }
  
  li {
    display: inline-block;
    font-size: 14px;
  }
  
  p {
    font-size: 14px;
    line-height: 1.3;
  }

  a {
      color: $black;
      transition: 0.5s ease;
      text-decoration: none;
      &:hover {
          text-decoration: none;
          transition: 0.5s ease;
      }
      &:focus {
          outline: none;
      }
      &.font-light {
        &:hover {
          color: $theme-blue;
        }
      }
  }

  .btn-close {
      &:focus {
          box-shadow: none;
      }
  }


  :focus {
      outline: none;
  }

  .form-control {
    font-size: 14px;
      &:focus {
          box-shadow: none;
      }
  }

  h1 {
    font-size: calc(24px + (28 - 24) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    line-height: 1.1;
    text-transform: capitalize;
    margin: 0;
  }

  h2 {
    font-size: calc(20px + (22 - 20) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    line-height: 1.3;
    text-transform: capitalize;
    margin: 0;
  }

  h3 {
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
  }

  h4 {
    font-size: calc(17px + (18 - 17) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1.3;
    margin: 0;
  }

  h5 {
    font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1.3;
    margin: 0;
  }

  h6 {
    font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1.2;
    font-weight: 500;
    margin: 0;
  }

  span {
      font-size: 13px;
  }

  section, .section-t-space {
    padding-top: 30px;
  }
  .section-b-space {
    padding-bottom: 30px;
  }

  .section-lgt-space {
    padding-top: calc(30px + (70 - 30) * ((100vw - 320px) / (1920 - 320)));;
  }

  .section-lgb-space {
    padding-bottom: calc(30px + (70 - 30) * ((100vw - 320px) / (1920 - 320)));;
  }

  .txt-line {
    color: rgba($black, 0.7);
    text-decoration: line-through;
  }

  .height-0 {
    height: 0;
  }

  .font-normal {
    font-size: 14px !important;
  }

  .text-decoration-underline {
    text-decoration: underline;
  }