// default colors
$theme-blue: #226ce0;
$theme-yellow: #fdd500;
$theme-green: #2f8733;
$theme-red: #e74505;

// common color 
$black: #000;
$white: #fff;
$bg-light: #f5f5f5;
$light-60: #eeeeee;
$light-70: #dddddd;
$light-80: #f1f3f9;
$font-light: #777777;
$font-dark: #555555;
$rating-color: #ffbb28;
$light-90: #cccccc;
$border-color: #ededed;
$border-radius: 3px;

// skeleton loader colors
$bg-loader: #f3f3f3;

// font family
$open-sans: 'Open Sans';
$playfair: 'Playfair Display';
$sans-serif: sans-serif;
$serif: serif;
$linear-icon: 'Linearicons-Free';

// social colors
$facebook: #385596;
$twitter: #3eb0ff;
$google: #d13f35;
$youtube: #f70902;
$pinterest: #a91111;
$linkedin: #2c55a7;

// breakpoints
$min-breakpoints: (
  md: 992px,
  lg: 1200px,
  xl: 1460px,
  xxl: 1640px,
);
$max-breakpoints: (
  5xs: 320px,
  4xs: 360px,
  3xs: 420px,
  2xs: 480px,
  xs: 575px,
  sm: 767px,
  md: 991px,
  lg: 1199px,
  xl: 1366px,
  xxl: 1440px,
  xxxl: 1660px
);