/*=====================
    Responsive CSS start
==========================*/

@include min-mq(lg) {
    .custom-container {
        max-width: 1650px;
    }
    .custom-grid {
        > .col-xl-2 {
            flex: 0 0 22%;
            max-width: 22%;
        }
        > .col-xl-10 {
            flex: 0 0 78%;
            max-width: 78%;
        }
    }
    .row-cols-5 {
        > div {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
}

@include min-mq(xl) {
    .custom-grid {
        > .col-xl-2 {
            flex: 0 0 19%;
            max-width: 19%;
        }
        > .col-xl-10 {
            flex: 0 0 81%;
            max-width: 81%;
        }
    }
}

@include min-mq(xxl) {
    .col-xxl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xxl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xxl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@include max-mq(lg) {
    header {
        .main-navbar {
            padding: 8px 0;
            justify-content: flex-start;
            [dir="rtl"] & {
                justify-content: flex-end;
            }
        }
    }
}

@include max-mq(md) {
    .custom-container {
        max-width: 100%;
    }
    .pb-lg-0-cls {
        padding-bottom: 0;
    }
}

@include max-mq(xs) {
    .tooltip {
        display: none;
    }
    .pt-sm-0-cls {
        padding-top: 0;
    }
    .pb-sm-0-cls {
        padding-bottom: 0;
    }
    .p-0-sm {
        padding: 0;
    }
    .px-0-sm {
        padding-left: 0;
        padding-right: 0;
    }
    .py-0-sm {
        padding-top: 0;
        padding-bottom: 0;
    }
    .p-15-sm {
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 0px;
    }
    .m-0-sm {
        margin: 0;
    }
    .pb-res-2 {
        padding-bottom: 15px !important;
    }
    .mb-res-5 {
        margin-bottom: 60px;
        display: block;
    }
}