/*=====================
    Button CSS start
==========================*/

button:focus {
  outline: none;
}

.btn {
  font-weight: 700;
  font-size: 12px;
  padding: 6px 18px;
  text-transform: uppercase;
  &:focus,
  &.focus {
    outline: none;
    box-shadow: none;
  }
}

.btn-solid {
  background-color: $theme-color;
  color: $white;
  font-weight: 400;
}
