/*=====================
    Button CSS start
==========================*/

button:focus {
  outline: none;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  padding: 6px 18px;
  text-transform: uppercase;
  &:focus,
  &.focus {
    outline: none;
    box-shadow: none;
  }
}

.btn-solid {
  background-color: $theme-color;
  color: $white;
  font-weight: 400;
}

.btn-outline {
  background-color: $white;
  border: 1px solid $theme-color;
  color: $theme-color;
  font-weight: 400;
  &.content-color {
    border-color: $content-color;
  }
}