/*=====================
    Card CSS start
==========================*/

.card {
    border: none;
    border-radius: 0;
}
.card-header {
    padding: 24px;
    background-color: transparent;
    border-bottom: 1px solid $light-60;
    h2 {
        font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
        line-height: 1.1;
        font-weight: 400;
    }
    [dir="rtl"] & {
        text-align: right;
    }
}

.card-body {
    padding: 24px;
}

.card-header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        .lnr {
            font-size: 10px;
        }
    }
}

.card-footer {
    border-top: 1px solid $light-60;
    padding: 34px 24px;
    background: transparent;
}

.card-title {
    display: flex;
    align-items: center;
    .theme-tab {
        margin-left: auto;
    }
}

// responsive css
@include max-mq(3xs) {
    .card-body, .card-header {
        padding: 15px;
    }
    .card-header-right {
        a {
            font-size: 12px;
            .lnr, span {
                display: none;
            }
        }
    }
} 

@include max-mq(md) {
    .card-footer {
        padding: 24px;
    }
}