/*=====================
    Theme tab CSS start
==========================*/
.theme-tab {
    position: relative;
    ul {
        li {
            padding: 0 15px;
            font-size: 15px;
            line-height: 1.15;
            &.current {
                a {
                    color: $theme-blue;
                }
            }
            &:last-child {
                padding-right: 0;
                [dir="rtl"] & {
                    padding-right: 15px;
                    padding-left: 0;
                }
            }
            + li {
                margin-left: -5px;
                border-left: 1px solid $light-70;
                [dir="rtl"] & {
                    border-left: unset;
                    border-right: 1px solid $light-70;
                    margin-left: unset;
                    margin-right: -5px;
                }
            }
        }
    }
}

.tab-content-cls {
    .tab-content {
        display: none;
        &[style="display: block;"] {
            .product-box {
                animation: fadeIn 600ms ease-in-out;
            }
        }
    }
}

.product-category {
    ul {
        li {
            padding: 0 10px;
            &:last-child {
                padding-right: 0;
                [dir="rtl"] & {
                    padding-right: unset;
                    padding-left: 0;
                }
            }
            &:first-child {
                padding-left: 0;
                [dir="rtl"] & {
                    padding-left: unset;
                    padding-right: 0;
                }
            }
        }
    }
}

@include max-mq(xs) {
    .theme-tab {
        position: relative;
        ul {
            margin: -5px;
            li {
                padding: 6px 10px !important;
                border-radius: $border-radius;
                font-size: 14px;
                margin: 5px;
                border: 1px solid $light-60 !important;
                [dir="rtl"] & {
                    margin-right: 5px !important;
                }
                &.current {
                    background-color: $theme-blue;
                    border-color: $theme-blue;
                    a {
                        color: $white;
                    }
                }
            }
        }
    }
}