/*=====================
    Timer CSS start
==========================*/
.counters {
    display: flex;
    align-items: center;
    margin: 5px 0;
    .counter {
        background-color: $theme-color;
        border-radius: 3px;
        width: 40px;
        height: 40px;
        color: $white;
        margin-right: 8px;
        position: relative;
        padding: 8px;
        [dir="rtl"] & {
            margin-right: 0;
            margin-left: 8px;
        }
        @media (max-width: 360px) {
            width: 30px;
            height: 30px;
        }
        span {
            font-size: 20px;
            font-weight: 700;
            color: #ffffff;
            @media (max-width: 360px) {
                font-size: 15px;
            }
        }
        p {
            font-size: 8px;
            position: absolute;
            left: 5px;
            top: 2px;
            color: #ffffff;
            @media (max-width: 360px) {
                font-size: 6px;
            }
        }
    }
}
