/*=====================
    Deal CSS start
==========================*/
.deal-section {
    .deal-slider{
        &.arrow-border {
            .slick {
                &-arrow {
                    top: -56px;
                }
                &-prev {
                    left: unset;
                    right: 42px;}
                &-next {
                    right: 0px;
                }
            }
        }
        
    }
    .deal-img {
        position: relative;
        .label {
            position: absolute;
            left: 0;
            top: 0;
            padding: 4px 8px;
            [dir="rtl"] & {
                left: unset;
                right: 0;
            }
            h5 {
                font-size: 15px;
                font-weight: 700;
                margin-top: -2px;
            }
        }
    }
    .ratio_square {
        .bg-size {
            &:before {
                padding-top: 93%;
            }
        }
    }
    .deal-image-slider {
        margin-bottom: 14px;
    }
    .slider-nav-thumbnails {
        .slick-slide {
            width: auto !important;
            height: auto !important;
            .thumbnail-deals {
                border: 1px solid $light-70;
                height: 50px;
                width: 50px;
                &::before {
                    display: none;
                }
            }
            &.slick-current {
                .thumbnail-deals {
                    border-color: $theme-blue;
                }
            }
        }
    }
    .deal-content {
        h5 {
            margin-bottom: 3px;
        }
        .rating {
            margin: 6px 0;
        }
        h4 {
            font-weight: 700;
            span {
                font-weight: 400;
                font-size: 14px;
            }
        }
        .available-deal {
            margin-top: 25px;
            .sold-details {
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                border-bottom: 1px solid $light-60;
            }
        }
        .deal-ends {
            margin-top: 30px;
            h6 {
                font-weight: 700;
            }
            span {
                font-size: 14px;
            }
            .deal-timer {
                display: inline-block;
                padding: 6px 18px;
                background-color: $theme-red;
                color: $white;
                border-radius: $border-radius;
                margin-top: 10px;
                h4 {
                    display: inline-block;
                }
            }
        }
    }
}

// responsive css
@include max-mq(xl) {
    .deal-section {
        .slider-nav-thumbnails {
            .slick-slide {
                .thumbnail-deals {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
@include max-mq(lg) {
    .deal-wrapper {
        margin-top: -15px;
    }
    .deal-section {
        .slider-nav-thumbnails {
            .slick-slide {
                .thumbnail-deals {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        .ratio_square {
            .bg-size {
                &:before {
                    padding-top: 82%;
                }
            }
        }
        .deal-slider {
            &.arrow-border {
                .slick-arrow {
                    top: -45px;
                }
            }
        }
    }   
    
}
@include max-mq(xs) {
    .deal-content {
        margin-top: 20px;
    }
}

