/*=====================
    Responsive CSS start
==========================*/

%loader-dark {
    background: linear-gradient(90deg, rgba(212, 212, 212, 0.3) 8%, #e4e4e4 18%, rgba(212, 212, 212, 0.3) 33%);
    background-size: 800px 104px;
    animation: skeleton-loader 2s infinite linear;
}

%loader-white {
    background: linear-gradient(90deg, rgba(238, 238, 238, 0.3) 8%, #ffffff 18%, rgba(246, 246, 246, 0.3    ) 33%);
    background-size: 800px 104px;
    animation: skeleton-loader 2s infinite linear;
}

@keyframes skeleton-loader {
    0% {
        transform: translateZ(0);
        background-position: -468px 0;
    }
    to {
        transform: translateZ(0);
        background-position: 468px 0;
    }
}

.loader_skeleton {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: block;
    background-color: $light-80;
    overflow-y: auto;
    overflow-x: hidden;
      
    .home-section {
        .home-slider {
            .home-content {
                background-color: $white;
                .shop-content {
                    h4 {
                        width: 80px;
                        height: 18px;
                        @extend %loader-dark;
                        margin-top: 8px;
                    }
                    .ldr-text {
                        width: 110px;
                        height: 17px;
                        @extend %loader-dark;
                    }
                    .btn {
                        width: 110px;
                        height: 34px;
                        background-color: $bg-loader;
                    }
                }
                > div {
                    .light-50 {
                        width: 120px;
                        height: 18px;
                        @extend %loader-dark;
                    }
                    h2 {
                        span {
                            display: block;
                            width: 185px;
                            height: 20px;
                            @extend %loader-dark;
                            &:nth-child(2) {
                                width: 195px;
                            }
                            &:nth-child(3) {
                                width: 125px;
                            }
                            + span {
                                margin-top: 8px;
                            }
                        }
                    }
                }
            }
        }
        .home-banner {
            ul {
                li {
                    width: 146px;
                    height: 20px;
                    @extend %loader-dark;
                    &:nth-child(2) {
                        width: 120px;
                    }
                    + li {
                        margin-top: 8px;
                    }
                }
            }
            h4 {
                width: 134px;
                height: 20px;
                @extend %loader-dark;
                &:nth-child(2) {
                    width: 94px;
                    margin-top: 6px;
                }
            }
        }
        &.home-sm {
            .home-slider {
                .home-content {
                    height: calc(200px + (300 - 200) * ((100vw - 320px) / (1920 - 320)));
                    background-color: $bg-loader;
                }
            }
        }
    }
    .offer-banner {
        .banner-content {
            .label {
                width: 84px;
                height: calc(26px + (46 - 26) * ((100vw - 320px) / (1920 - 320)));
                @extend %loader-dark;
            }
            h2 {
                span {
                    width: 200px;
                    height: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
                    @extend %loader-dark;
                    display: block;
                    &:nth-child(2) {
                        margin-top: 10px;
                        width: 130px;
                    }
                }
            }
            span.font-light {
                width: 170px;
                height: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
                display: block;
                @extend %loader-dark;
            }
        }
    }
    .service-section {
        .card-body {
            .media {
                span {
                    width: 34px;
                    height: 34px;
                    background-color: $bg-loader;
                }
            }
            .media-body {
                h5 {
                    width: 88%;
                    height: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
                    @extend %loader-dark;
                }
                h6 {
                    width: 60%;
                    height: 16px;
                    @extend %loader-dark;
                    margin-top: 7px;
                }
            }
        }
    }
    .card-header {
        position: relative;
        h2 {
            width: 200px;
            height: 26px;
            @extend %loader-dark;
        }
        .ldr-arrow-left {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
        .ldr-arrow-right {
            position: absolute;
            right: 60px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .ldr-arrow-left {
        width: 28px;
        height: 28px;
        display: block;
        background-color: $bg-loader;
    }
    .ldr-arrow-right {
        width: 28px;
        height: 28px;
        display: block;
        background-color: $bg-loader;
    }
    .deal-section {
        &.image-preview-section {
            @include max-mq(xs) {
                margin-bottom: 0;
            }
        }
        @include max-mq(xs) {
            margin-bottom: 90px;
        }
        .slider-nav-thumbnails {
            .slick-slide {
                .thumbnail-deals {
                    background-color: $bg-loader;
                }
                &.slick-current {
                    .thumbnail-deals {
                        border-color: transparent;
                    }
                }
            }
        }
        .deal-content {
            h4 {
                width: 46%;
                display: block;
                height: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
                @extend %loader-dark;
            }
            h5 {
                width: 100%;
                height: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
                @extend %loader-dark;
            }
            .ldr-text {
                width: 42%;
                display: block;
                height: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
                @extend %loader-dark;
            }
            .rating {
                width: 50%;
                display: block;
                height: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
                @extend %loader-dark;
            }
            .deal-ends {
                [dir="rtl"] & {
                    text-align: right;
                }
                h6 {
                    width: 24%;
                    height: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                    @extend %loader-dark;
                }
                span {
                    width: 50%;
                    height: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
                    @extend %loader-dark;
                    margin-top: 4px;
                }
                .deal-timer {
                    width: 72%;
                    height: calc(30px + (38 - 30) * ((100vw - 320px) / (1920 - 320)));
                    @extend %loader-dark;
                }
            }
            .available-deal {
                .sold-details {
                    h6 {
                        width: 26%;
                        height: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                        @extend %loader-dark;
                    }
                }
            }
        }
        .deal-img {
            background-color: $bg-loader;
        }
    }
    .product-slider {
        &.arrow-border {
            .slick-prev, .slick-next {
                display: none !important;
            }
        }
    }
    .product-found {
        h3 {
            width: 185px;
            height: 26px;
            @extend %loader-dark;
        }
        .pages-filter {
            width: 120px;
            height: 30px;
            background-color: $bg-loader;
        }
    }
    .shop-inner-filter {
        .filter-panel-inner {
            height: 58px;
            width: 100%;
        }
        .your-filters {
            li {
                height: 36px;
            }
        }
    }
    .progress-bar {
        display: none;
    }
    .theme-tab {
        ul {
            li {
                a {
                    width: 90px;
                    height: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
                    display: block;
                    background-color: $bg-loader;
                }
                &.current {
                    @include max-mq(xs) {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    .product-box {
        .product-details {
            h6 {
                width: 86%;
                height: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                background-color: $bg-loader;
            }
            .rating {
                margin: 8px 0;
            }
            > .font-light {
                height: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
                margin: 4px 0;
                width: 70%;
                background-color: $bg-loader;
            }
            a {
                h6 {
                    width: 98%;
                    height:  calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
                    background-color: $bg-loader;
                }
            }
        }
        &.coupon-box {
            .product-details {
                .price-details {
                    h6 {
                        width: 36%;
                    }
                }
            }
        }
    }
    .rating {
        width: 50%;
        display: block;
        height: 18px;
        @extend %loader-dark;
    }
    .shop-category {
        > .col {
            .category-product {
                .category-title {
                    h6 {
                        width: 50%;
                        margin: 0 auto;
                        height:  calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                        @extend %loader-dark;
                    }
                }
            }
            &:after {
                background-color: $bg-loader;
            }
        }
    }
    .filter-panel {
        .filter-options {
            .filter-wrapper {
                .main-title {
                    @extend %loader-dark;
                }
            }
        }
        .filter-wrapper {
            .clear-all {
                a {
                    width: 38%;
                    display: block;
                    height: 16px;
                    @extend %loader-dark;
                }
            }
            .main-title {
                width: 52%;
                height:  calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
                background-color: $white;
                &:after {
                    display: none;
                }
            }
            .category-list {
                > li {
                    display: block;
                    a {
                        width: 150px;
                        height: 18px;
                        display: block;
                        background-color: $white;
                    }
                    &:nth-child(2){
                       a {
                        width: 120px;
                       }
                    }
                    &:nth-child(3){
                        a {
                         width: 110px;
                        }
                     }
                     &:nth-child(4), &:nth-child(7){
                        a {
                         width: 160px;
                        }
                     }
                     &:nth-child(5){
                        a {
                         width: 115px;
                        }
                     }
                }
            }
            .your-filters {
                li {
                    width: 100%;
                    height: 37px;
                }
            }
            .filter-listing {
                li {
                    width: 50%;
                    display: block;
                    height: 18px;
                    @extend %loader-dark;
                }
            }
        }
    }
    .border-card {
        border-color: $bg-loader;
    }
    .search-bar-panel {
        width: 100%;
        height: 38px;
        background-color: $bg-loader;
    }
    .shop-title {
        width: 170px;
        height: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
        @extend %loader-dark;
    }
    .page-title {
        width: 170px;
        height: 40px;
        padding-bottom: 0;
        margin: 0 auto calc(30px + (70 - 30) * ((100vw - 320px) / (1920 - 320)));
        @extend %loader-dark;
    }
    .store-list-box {
        .bottom-box {
            .btn {
                width: 102px;
                height: 33px;
                background-color: $bg-loader;
            }
        }
        .upper-box {
            background-color: $bg-loader;
            .store-content {
                h4 {
                    width: 60%;
                    height: 18px;
                    margin-bottom: 10px;
                    @extend %loader-dark;
                }
                p {
                    width: 60%;
                    height: 18px;
                    margin-top: 20px;
                    @extend %loader-dark;
                }
            }
        }
    }
    .vendor-home {
        .home-image {
            background-color: #e3e3e3;
        }
    }
    .vendor-detail {
        h4 {
            width: 160px;
            height: 22px;
            @extend %loader-dark;
        }
        .detail-list {
            li {
                width: 36%;
                height: 18px;
                @extend %loader-dark;
                &:nth-child(2) {
                    width: 20%;
                }
                &:nth-child(3) {
                    width: 40%;
                }
            }
        }
    }
    .social-icons-vendor {
        li {
            background-color: $white;
        }
    }
    .store-location {
        .map-section {
            iframe {
                background-color: $bg-loader;
            }
        }
        .main-title {
            width: 80%;
            height: 20px;
            @extend %loader-dark;
        }
    }
    .top-selling-products {
        &.vertical-product {
            .product-box {
                .product-details {
                    .price-details {
                        h6 {
                            margin-top: 6px;
                        }
                    }
                }
                .product-image {
                    img {
                        width: 60px;
                        background-color: $bg-loader;
                    }
                }
            }
        }
    }
    .image-preview-section {
        .thumbnail-product {
            .slick-slide {
                .ldr-img {
                    width: 70px;
                    height: 96px;
                    background-color: $bg-loader;
                    display: block;
                    border: 0;
                }
            }
        }
        .product-zoom-image {
            .slick-slide {
                .ldr-img-main {
                    width: 100%;
                    height: calc(340px + (470 - 340) * ((100vw - 320px) / (1920 - 320)));
                    background-color: $bg-loader;
                    display: block;
                }
            }
        }
    }
    .product-content {
        .tags-sec {
            h6 {
                width: 34%;
                height: 18px;
                @extend %loader-dark;
                + h6 {
                    margin-top: 5px;
                }
            }
        }
        .social-icons {
            ul {
                width: 36%;
                height: 18px;
                @extend %loader-dark;
            }
        }
        .button-group {
            .qty-cls {
                width: 70px;
                height: 18px;
                @extend %loader-dark;
            }
            .input-group {
                height: 40px;
                background-color: $bg-loader;
                border: 0;
            }
            .btn {
                background-color: $bg-loader;
                height: 40px;
                border-color: $bg-loader;
                &::before {
                    display: none;
                }
            }
        }
        .color-options {
            h6 {
                width: 170px;
                height: 16px;
                @extend %loader-dark;
            }
            .color-filter {
                li {
                    border: none;
                    background-color: $bg-loader;
                }
            }
        }
        .description-sec {
            .vendor-info {
                h6 {
                    width: 180px;
                    height: 16px;
                    @extend %loader-dark;
                }
            }
            ul {
                padding-left: 0;
                li {
                    width: 28%;
                    height: 18px;
                    @extend %loader-dark;
                    margin-top: 6px;
                    display: block;
                }
            }
            .price-details {
                width: 34%;
                height: 24px;
                @extend %loader-dark;
            }
        }
        h3 {
            width: 85%;
            height: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
            @extend %loader-dark;
        }
        .product-detail {
            > li {
                width: 100px;
                height: 16px;
                @extend %loader-dark;
                margin-top: 6px;
            }
        }
    }
    .image-preview-section {
        .product-zoom-image {
            .info {
                width: 48%;
                margin-left: auto;
                margin-right: auto;
                height: 16px;
                @extend %loader-dark;
            }
        }
    }
    .frequently-section {
        .product-slider {
            .slick-slide{
                &:after {
                    color: #bcbcbc;
                }
            }
        }
        .title {
            width: 24%;
            height: 24px;
            margin-bottom: 40px;
            padding-bottom: 0;
            @extend %loader-dark;
        }
        .frequently-details {
            .update-cart {
                width: 18%;
                height: 22px;
                @extend %loader-dark;
            }
            ul {
                li {
                    width: 44%;
                    height: 16px;
                    @extend %loader-dark;
                    + li {
                        margin-top: 8px;
                    }
                    &:nth-child(2) {
                        width: 30%;
                    }
                    &:nth-child(3) {
                        width: 35%;
                    }
                    &:nth-child(4) {
                        width: 40%;
                    }
                }
            }
        }
    }
    .warranty-box {
        .logo-section {
            .ldr-img {
                width: 70%;
                margin: 0 auto;
                height: 48px;
                background-color: $bg-loader;
            }
        }
        h6 {
            width: 145px;
            height: 16px;
            @extend %loader-white;
        }
        .soldby {
            width: 140px;
            height: 16px;
            @extend %loader-white;
        }
    }
    .warranty-detail {
        ul {
            li {
                width: 80%;
                @extend %loader-white;  
                height: 20px;
                + li {
                    margin-top: 6px;
                }
            }
        }
    }
    .email-detail {
        li {
            .detail-list {
                h6 {
                    width: 100px;
                    height: 16px;
                    @extend %loader-dark;  
                }
                h4 {
                    width: 160px;
                    height: 20px;
                    @extend %loader-dark;  
                }
            }
            i {
                width: 16px;
                height: 16px;
                background-color: $bg-loader;
            }
        }
    }
    .coupen-sec {
        h6 {
            height: 30px;
            margin-right: 10px;
            background-color: $bg-loader;
        }
        .coupen-btn {
            li {
                border-color: $bg-loader !important;
                background-color: $bg-loader !important;
                height: 30px;
            }
        }
    } 
    .setting-ldr {
        width: 80%;
        height: 16px;
        @extend %loader-dark;  
    }
    .similar-product-section {
        h5 {
            width: 60%;
            height: 18px;
            @extend %loader-dark;  
        }
    }
    .cart-table {
        .btn-close {
            width: 24px;
            height: 24px;
            border: 0;
            background-color: $bg-loader;
        }
        .qty-btn {
            .input-group {
                height: 40px;
                background-color: $bg-loader;
                border: transparent;
            }
        }
        h6 {
            width: 50px;
            height: 16px;
            @extend %loader-dark;  
        }
        thead {
            th {
                height: 40px;
            }
        }
        .media {
            .product-img {
                height: 90px;
                background-color: $bg-loader;
            }
            .media-body {
                li {
                    width: calc(170px + (280 - 170) * ((100vw - 320px) / (1920 - 320)));
                    height: 19px;
                    @extend %loader-dark;  
                    &:nth-child(2) {
                        width: 140px;
                    }
                    &:nth-child(3) {
                        width: 150px;
                    }
                    &:nth-child(4) {
                        width: 120px;
                    }
                    &:nth-child(5) {
                        height: 40px;
                        width: 150px;
                    }
                    &:nth-child(6) {
                        width: 120px;
                    }
                }
            }
        }
    }
    .h-ldr {
        .home-content {
            height: calc(400px + (496 - 400) * ((100vw - 320px) / (1920 - 320)));
        }
    }
    .wizard {
        .nav-tabs {
            > li {
                a {
                    svg {
                        background-color: $bg-loader;
                    }
                    h5 {
                        width: 80px;
                        height: 20px;
                        @extend %loader-dark;  
                    }
                }
            }
        }
    }
    .product-image-section  {
        .slick-next, .slick-prev {
            display: none !important;
        }
        .slick-nav {
            .slick-slide {
                .bg-size {
                    border: none;
                }
            }
        }
    }
    .coupon-detail-section {
        .mobile-tab-title {
            width: 170px;
            @extend %loader-dark;  
            height: 20px;
        }
        &.product-tab-section {
            .tab-content {
                .decs-detail {
                    p {
                        width: 48%;
                        height: 22px;
                        @extend %loader-dark;  
                    }
                }
            }
        }
    }
    .product-tab-section {
        .tab-content {
            .detail-listing {
                .listing-title {
                    width: 34%;
                    height: 16px;
                    @extend %loader-dark;  
                }
            }
            .decs-detail {
                ul {
                    padding-left: 0;
                    li {
                        display: block;
                        height: 20px;
                        width: 210px;
                        @extend %loader-dark;  
                    }
                }
            }
        }
    }
    .deal-option {
        .option-list {
            .qty-btn {
                .input-group {
                    height: 40px;
                    background-color: $white;
                    border: none;
                }
            }
            label {
                .ldr-text {
                    width: calc(160px + (310 - 160) * ((100vw - 320px) / (1920 - 320)));
                    height: 20px;
                    background-color: $white;
                }
                .ldr-price {
                    width: 100px;
                    height: 22px;
                    background-color: $white;
                    display: block;
                    margin-top: 6px;
                }
                .ldr-text-bottom {
                    width: calc(120px + (180 - 120) * ((100vw - 320px) / (1920 - 320)));
                    height: 20px;
                    background-color: $white;
                }
            }
        }
    }
}