/*=====================
    Reset CSS start
==========================*/
.divider {
  height: 10px;
  width: 100%;
  margin: 25px 0;
  background-color: #EDEFF4; }

/*=====================
    Typography CSS start
==========================*/
body {
  font-family: Lato, sans-serif;
  position: relative;
  font-size: 14px;
  margin: 0;
  color: #000000; }

html {
  scroll-behavior: smooth; }

ul {
  padding-left: 0;
  margin-bottom: 0; }
  [dir="rtl"] ul {
    padding-right: 0;
    padding-left: unset; }

li {
  display: inline-block;
  font-size: 14px; }

p {
  font-size: 14px;
  line-height: 1.3; }

a {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease; }
  a:focus {
    outline: none; }

:focus {
  outline: none; }

.form-control {
  font-size: 14px; }
  .form-control:focus {
    -webkit-box-shadow: none;
            box-shadow: none; }

h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: capitalize;
  margin: 0; }

h2 {
  font-size: 16px;
  line-height: 1.3;
  margin: 0; }

h3 {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0; }

h4 {
  font-size: 14px;
  line-height: 1.3;
  margin: 0; }

h5 {
  font-size: 13px;
  line-height: 1.3;
  margin: 0; }

h6 {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
  margin: 0; }

span {
  font-size: 12px; }

section, .section-t-space {
  padding-top: 30px; }

.section-b-space {
  padding-bottom: 30px; }

/*=====================
    Button CSS start
==========================*/
button:focus {
  outline: none; }

.btn {
  font-weight: 700;
  font-size: 13px;
  padding: 6px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .btn:focus, .btn.focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

/*=====================
    form CSS start
==========================*/
.radio_animated {
  position: relative;
  margin: 0 1rem 0 0;
  cursor: pointer; }
  [dir="rtl"] .radio_animated {
    margin: 0 0 0 1rem; }
  .radio_animated:before {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75), -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    content: "";
    position: absolute;
    top: 4px;
    left: 0.125rem;
    z-index: 1;
    width: 0.55rem;
    height: 0.55rem;
    background: #FF4C3B;
    border-radius: 50%; }
    [dir="rtl"] .radio_animated:before {
      left: unset;
      right: 0.125rem; }
  .radio_animated:after {
    content: "";
    position: absolute;
    top: 0;
    left: -0.125rem;
    width: 1.05rem;
    height: 1.05rem;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 50%; }
    [dir="rtl"] .radio_animated:after {
      left: unset;
      right: -0.125rem; }
  .radio_animated:checked:before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  .radio_animated:checked:after {
    border: 1px solid #FF4C3B; }

.checkbox_animated {
  padding-left: 0; }
  [dir="rtl"] .checkbox_animated {
    padding-right: 0; }
  .checkbox_animated input[type="checkbox"] {
    display: none; }
    .checkbox_animated input[type="checkbox"] + label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer; }
      .checkbox_animated input[type="checkbox"] + label:before {
        content: "\2714";
        border: 1px solid #c2c2c2;
        border-radius: 3px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 16px;
        height: 16px;
        padding-left: 0;
        padding-bottom: 0;
        margin-right: 10px;
        vertical-align: bottom;
        color: transparent;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        line-height: 1; }
        [dir="rtl"] .checkbox_animated input[type="checkbox"] + label:before {
          padding-right: 0;
          margin-right: 0;
          margin-left: 10px; }
      .checkbox_animated input[type="checkbox"] + label:active:before {
        -webkit-transform: scale(0);
                transform: scale(0); }
    .checkbox_animated input[type="checkbox"]:checked + label:before {
      background-color: #FF4C3B;
      border-color: #FF4C3B;
      color: #fff; }
    .checkbox_animated input[type="checkbox"]:checked:disabled _ label:before {
      -webkit-transform: scale(1);
              transform: scale(1);
      background-color: rgba(255, 76, 59, 0.2);
      border-color: rgba(255, 76, 59, 0.2); }
    .checkbox_animated input[type="checkbox"]:disabled _ label:before {
      -webkit-transform: scale(1);
              transform: scale(1);
      border-color: #aaa; }

/*=====================
    Ratio CSS start
==========================*/
.ratio_40 .bg-size:before {
  padding-top: 40%;
  content: "";
  display: block; }

.ratio_45 .bg-size:before {
  padding-top: 45%;
  content: "";
  display: block; }

.ratio2_1 .bg-size:before {
  padding-top: 50%;
  content: "";
  display: block; }

.ratio_55 .bg-size:before {
  padding-top: 55%;
  content: "";
  display: block; }

.ratio_59 .bg-size:before {
  padding-top: 59%;
  content: "";
  display: block; }

.ratio2_3 .bg-size:before {
  padding-top: 60%;
  content: "";
  display: block; }

.ratio3_2 .bg-size:before {
  padding-top: 66.66%;
  content: "";
  display: block; }

.ratio_90 .bg-size:before {
  padding-top: 93%;
  content: "";
  display: block; }

.ratio_landscape .bg-size:before {
  padding-top: 75%;
  content: "";
  display: block; }

.ratio_square .bg-size:before {
  padding-top: 100%;
  content: "";
  display: block; }

.ratio_asos .bg-size:before {
  padding-top: 127.7777778%;
  content: "";
  display: block; }

.ratio_portrait .bg-size:before {
  padding-top: 150%;
  content: "";
  display: block; }

.ratio1_2 .bg-size:before {
  padding-top: 200%;
  content: "";
  display: block; }

/*=====================
    Slider CSS start
==========================*/
/*=====================
    Dropdown CSS start
==========================*/
/*=====================
    Theme tab CSS start
==========================*/
/*=====================
    Header CSS start
==========================*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; }
  header .nav-bar {
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header .nav-bar svg {
      stroke: #222222; }
  header .header-option {
    margin-left: auto; }
    header .header-option ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header .header-option ul li {
        line-height: 1; }
        header .header-option ul li a {
          display: block; }
        header .header-option ul li i {
          font-size: 20px;
          color: #222222; }
        header .header-option ul li + li {
          margin-left: 12px; }

.overlay-sidebar {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .overlay-sidebar.show {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.header-sidebar {
  position: fixed;
  left: -320px;
  top: 0;
  background-color: #ffffff;
  width: 310px;
  height: 100vh;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .header-sidebar.show {
    left: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .header-sidebar .user-panel {
    padding: 16px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(237, 239, 244, 0.25); }
    .header-sidebar .user-panel .user-img {
      width: 45px;
      height: 45px;
      border-radius: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      margin-right: 16px; }
    .header-sidebar .user-panel .icli {
      margin-left: 8px;
      font-size: 16px;
      color: #222222;
      margin-bottom: -1px; }
    .header-sidebar .user-panel span {
      display: inline-block;
      color: #222222;
      font-size: 14px;
      font-weight: 700; }
  .header-sidebar .sidebar-content {
    padding: 25px 0; }
    .header-sidebar .sidebar-content .link-section {
      padding: 0 22px; }
      .header-sidebar .sidebar-content .link-section li {
        width: 100%;
        padding: 16px 6px;
        border-bottom: 1px solid rgba(237, 239, 244, 0.6); }
        .header-sidebar .sidebar-content .link-section li a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .header-sidebar .sidebar-content .link-section li a i {
            font-size: 20px;
            color: #222222;
            margin-right: 16px; }
          .header-sidebar .sidebar-content .link-section li a .content h4 {
            color: #222222;
            margin-bottom: 2px;
            font-weight: 700; }
          .header-sidebar .sidebar-content .link-section li a .content h6 {
            color: #777777; }
        .header-sidebar .sidebar-content .link-section li:first-child {
          padding-top: 0; }
        .header-sidebar .sidebar-content .link-section li:last-child {
          padding-bottom: 0;
          border-bottom: 0; }

/*=====================
    RTL CSS start
==========================*/
