/*=====================
    Cart page CSS start
==========================*/
thead {
    &.light-head {
        background-color: $bg-light;
        th {
            color: $font-dark;
            font-weight: 500;
            text-transform: capitalize;
        }
    }
}
.cart-table {
    margin-bottom: 26px;
    [dir="rtl"] & {
        text-align: right;
    }
    thead {
        th {
            &:first-child {
                padding-left: 13%;
                [dir="rtl"] & {
                    padding-left: 0;
                    padding-right: 13%;
                }
            }
        }
    }
    th {
        padding-left: 15px;
        padding-right: 15px;
    }
    td {
        padding: 20px 15px;
    }
    tbody {
        border: 1px solid $border-color;
        tr {
            border-bottom: 1px solid $border-color;
            &:last-child {
                border-bottom: 0;
            }
        }
    }
    .qty-btn {
        .input-group {
            border-color: #cbcbcb;
            margin-right: 0;
            [dir="rtl"] & {
                margin-left: 0;
            }
        }
        img {
            width: 10px;
        }   
    }
    .media {
        align-items: center;
        [dir="rtl"] & {
            text-align: right;
        }
        .product-img {
            width: 90px;
            height: auto;
        }
        .media-body {
            display: flex;
            padding-left: 26px;
            [dir="rtl"] & {
                padding-left: 0;
                padding-right: 26px;
            }
            li {
                display: block;
                margin-bottom: 4px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &.total-table {
        width: 18%;
        tbody {
            border-top: 0;
        }
    }
}

.cart-btns {
    display: flex;
}

.cart-checkout-section {
    border-top: 1px solid $border-color;
    padding-top: 40px;
    [dir="rtl"] & {
        text-align: right;
    }
}

// promo section
.promo-section {
    .promo-title {
        font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 500;
        margin-bottom: 22px;
    }
    .promo-input {
        .btn {
            padding: 10px 26px;
            z-index: 1;
        }
        .form-control {
            height: auto;
        }
    }
    form {
        .form-control {
            margin-bottom: 10px;
            color: $black;
        }
        .btn {
            padding: 10px 20px;
            font-size: 13px;
            margin-top: 20px;
        }
    }
}

// checkout box
.checkout-box {
    padding: 30px;
    background-color: $bg-light;
    .shipping-info {
        padding-top: 24px;
        border-top: 1px solid #dddddd;
        margin-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #dddddd;
        margin-bottom: 24px;
        li {
            display: block;
        }
    }
    .total {
        span {
            font-size: 16px;
        }
    }
    .buttons {
        margin-top: 20px;
        .btn {
            padding: 9px 16px;
        }
    }
    .divider {
        display: block;
        position: relative;
        text-align: center;
        margin: 20px 0;
        border-bottom: 1px solid #dddddd;
        &:after {
            content: "or";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%);
            font-size: 14px;
            color: $font-dark;
            background-color: $bg-light;
            padding: 2px 9px;
            text-transform: capitalize;
            [dir="rtl"] & {
                left: unset;
                right: 50%;
            }
        }
    }
}

// responsive 
@include max-mq(md) {
    .mb-res-2 {
        margin-bottom: 24px;
    }
    .cart-table {
        .media {
            .product-img {
                width: 70px;
            }
            .media-body {
                li {
                    &:first-child {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
        .qty-btn {
            .input-group {
                width: 130px;
            }
        }
    }
}

@include max-mq(sm) {
    .cart-table {
        tbody {
            border: 0;
        }
        thead {
            display: none;
        }
        td {
            padding: 20px 0;
        }
        tr {
            td{
                &:nth-child(2), 
                &:nth-child(3),
                &:nth-child(4) {
                    display: none;
                }
            }   
        }
        .qty-btn {
            .input-group {
                width: 180px;
            }
        }
        .media {
            align-items: flex-start;
        }
    }
}

@include max-mq(xs) {
    .cart-checkout-section {
        padding-top: 0;
        .promo-section {
            padding: 40px 15px;
            border-top: 12px solid $border-color;
            .promo-title {
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
    .cart-table {
        .media {
            .media-body {
                padding-left: 16px;
                [dir="rtl"] & {
                    padding-left: 0;
                    padding-right: 16px;
                }
            }
        }
    }
    .cart-btns {
        flex-wrap: wrap;
        text-align: center;
        .left-btns, .right-btns {
            width: 100%;
        }
        .right-btns {
            order: -1;
            margin-bottom: 10px;
            a {
                &:first-child {
                    margin-bottom: 40px;
                }
            }
        }
        a {
            display: block;
            width: 100%;
        }
    }
}