/*=====================
    Order confirmation CSS start
==========================*/
.order-wrapper {
    .order-details {
        h1 {
            margin-bottom: 20px;
        }
        h2 {
            margin-bottom: 8px;
            a {
                font-size: 14px;
                color: $theme-blue;
            }
        }
        p {
            font-style: italic;
        }
    }
    .order-table {
        margin-top: 60px;
        [dir="rtl"] & {
            text-align: right;
        }
        h3 {
            margin-bottom: 25px;
        }
        table {
            border: 1px solid $border-color;
            th {
                font-weight: 600;
            }
            th, td {
                border-top: 1px solid $border-color;
            }
        }
    }
}
.total-table {
    width: 41%;
    margin-left: auto;
    border-top: 0 !important;
    tr {
        &:first-child {
            td {
                border-top: 0;
            }
        }
    }
    [dir="rtl"] & {
        margin-left: unset;
        margin-right: auto;
    }
}


// responsive css
@include max-mq(sm) {
    .order-wrapper {
        .order-table {
            margin-top: 30px;
            h3 {
                margin-bottom: 15px;
            }
            .row {
                > div {
                    + div {
                        table {
                            border-top: 0;
                            tr {
                                &:first-child {
                                    td, th {
                                        border-top: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .total-table {
        width: 50%;
    }
}

@include max-mq(xs) {
    .order-table {
        table {
            tr {
                td, th {
                    &:first-child {
                        min-width: 50px;
                    }
                    &:nth-child(3), &:nth-child(4), &:nth-child(5) {
                        display: none;
                    }
                    ul {
                        li {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .total-table {
        width: 100%;
    }
}