/*===========================
    reward page CSS start
==========================*/
.reward-section {
    .row {
        margin-bottom: -30px;
        > div {
            margin-bottom: 30px;
        }
    }
    .reward-box {
        width: 100%;
        box-shadow: 0px 0px 8px 5px rgba(239, 239, 239, 0.62);
        padding: 60px calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320))) 30px;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        .button-part {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            width: 100%;
            .qty-btn {
                .input-group {
                    width: calc(120px + (150 - 120) * ((100vw - 320px) / (1920 - 320)));
                    margin-right: calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
                    [dir="rtl"] & {
                        margin-right: 0;
                        margin-left: calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
                    }
                }
            }
        }
        .label {
            position: absolute;
            top:  calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
            left:  calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
            font-size: 14px;
            [dir="rtl"] & {
                right:  calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
                left: unset;
            }
        }
        .reward-product {
            width: 45%;
            text-align: center;
            img {
                width: 220px;
            }
            .product-detail {
                margin-top: 30px;
                h3 {
                    font-weight: 400;
                    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
                    span {
                        font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
                        font-weight: 700;
                    }
                }
                h4 {
                    margin-top: calc(3px + (8 - 3) * ((100vw - 320px) / (1920 - 320)));
                    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
                }
                p {
                    font-size: 14px;
                    color:$font-light;
                    width: 100%;
                    margin: 8px auto 0;
                }
            }
        }
        .middle-arrow {
            width: 10%;
            text-align: center;
            .lnr {
                font-size: 22px;
                display: block;
                [dir="rtl"] & {
                    transform: rotate(180deg);
                }
            }
        }
        .deal-menu {
            position: absolute;
            right:  calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
            top:  calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
            [dir="rtl"] & {
                right:  unset;
                left:  calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
            }
            li {
                img {
                    width: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
                }
                + li {
                    margin-left: 12px;
                    [dir="rtl"] & {
                        margin-left: 0;
                        margin-right: 12px;
                    }
                }
            }
        }
    }
}


@include max-mq(lg) {
    .reward-section {
        .reward-box {
            .reward-product {
                .product-detail {
                    margin-top: 15px;
                }
            }
        }
    }
}

@include max-mq(md) {
    .reward-section {
        .reward-box {
            .reward-product {
                img {
                    width: calc(90px + (180 - 90) * ((100vw - 320px) / (1920 - 320)));
                }
                .button-part {
                    .qty-btn {
                        .input-group  {
                            width: 120px;
                            margin-right: 10px; 
                        }
                    }
                }
            }
        }
    }
}

@include max-mq(sm) {
    .reward-section {
        .reward-box {
            .reward-product {
                width: 100%;
                &.winning-product {
                    img {
                        display: none;
                    }
                }
                .product-section {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        margin: 0 30px;
                    }
                    .lnr {
                        font-size: calc(18px + (25 - 18) * ((100vw - 320px) / (1920 - 320)));
                        display: block;
                        [dir="rtl"] & {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            .middle-chart {
                display: none;
            }
            &:after {
                display: none;
            }
        }
    }
}

@include max-mq(xs) {
    .reward-section {
        .reward-box {
            .button-part {
                .qty-btn {
                    .form-control{
                        height: unset;
                    }
                }
            }
        }
    }
}