/*=====================
    Shop page CSS start
==========================*/
.shop-category {
    margin-bottom: -35px;
    > .col {
        flex: 0 0 14.28%;
        max-width: 14.28%;
        margin-bottom: 35px;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 85%;
            background-color: #dddddd;
            [dir="rtl"] & {
                left: unset;
                right: 0;
            }
        }
        &:first-child,
        &:nth-child(8) {
            &:after {
                display: none;
            }
        }
        .category-product {
            .category-title {
                h6 {
                    transition: all 0.5s ease;
                }
            }
        }
        &:hover {
            .category-product {
                .category-title {
                    h6 {
                        text-decoration: underline;
                        color: $theme-blue;
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }
}

.shop-title {
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: 22px;
    [dir="rtl"] & {
        text-align: right;
    }
}

.border-card {
    padding: calc(15px + (40 - 15) * ((100vw - 320px) / (1920 - 320)));;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.product-found {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
        font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
        color: $black;
        span {
            font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
            color: #999999;
        }
    }
    .pages-filter {
        color: $black;
        h6,
        input {
            display: inline-block;
        }
        input {
            width: 38px;
            margin: 0 6px;
            color: $black;
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
    }
}

.shop-inner-filter {
    [dir="rtl"] & {
        text-align: right;
    }
    .filter-panel-inner {
        background-color: $bg-light;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        margin-top: 18px;
        margin-bottom: 40px;
        .left-detail {
            display: flex;
            align-items: center;
            .checkbox_animated {
                input[type="checkbox"] {
                    + label {
                        &:before {
                            background-color: white;
                        }
                    }
                    &:checked {
                        + label {
                            &:before {
                                background-color: $theme-blue;
                            }
                        }
                    }
                }
            }
            span {
                color: $black;
                font-weight: 700;
            }
            label {
                margin-bottom: 0;
            }
            ul {
                li {
                    margin-left: 20px;
                    text-transform: capitalize;
                    [dir="rtl"] & {
                        margin-left: 0;
                        margin-right: 20px;
                    }
                }
            }
        }
        .right-detail {
            margin-left: auto;
            display: flex;
            align-items: center;
            [dir="rtl"] & {
                margin-left: unset;
                margin-right: auto;
            }
            span {
                font-weight: 700;
                margin: 0 10px 0 20px;
            }
            select {
                width: max-content;
                background-color: $white;
            }
            .custom-select-cls {
                padding: 0 25px 0 12px;
                background: url(../images/down-arrow.png) no-repeat 80% $white;
                background-size: 10px;
            }
            .filter-btn {
                align-items: center;
                text-transform: capitalize;
                margin-left: 15px;
                [dir="rtl"] & {
                    margin-left: 0;
                    margin-right: 15px;
                }
                svg {
                    width: 16px;
                    height: 16px;
                    margin-right: 10px;
                    [dir="rtl"] & {
                        margin-left: 10px;
                        margin-right: 0;
                    }
                }
            }
            .grid-filter {
                margin-left: 12px;
                [dir="rtl"] & {
                    margin-left: 0;
                    margin-right: 12px;
                }
                li {
                    svg {
                        width: 16px;
                        height: 16px;
                        fill: #9f9f9f;
                    }
                    + li {
                        padding-left: 8px;
                        border-left: 1px solid #ddd;
                        margin-left: 8px;
                        [dir="rtl"] & {
                            padding-left: 0;
                            border-left: 0;
                            margin-left: 0;
                            padding-right: 8px;
                            border-right: 1px solid #ddd;
                            margin-right: 8px;
                        }
                    }
                    &.active {
                        svg {
                            fill: $theme-blue;
                        }
                    }
                }
            }
        }
    }
    .your-filters {
        margin-top: 25px;
        margin: -5px;
        li {
            font-size: 14px;
            color: $black;
            background-color: $bg-light;
            border-radius: 3px;
            padding: 8px;
            position: relative;
            display: inline-block;
            padding-right: 40px;
            margin: 5px;
            a {
                cursor: pointer;
                position: absolute;
                right: 8px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .clear-all {
        margin-top: 10px;
        margin-bottom: 20px;
        text-transform: capitalize;
        a {
            color: $theme-blue;
            font-weight: 500;
        }
    }
    .main-title {
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0;
    }
}

.margin-row {
    margin-bottom: -30px;
    > div {
        margin-bottom: 30px;
    }
}


// responsive
@include max-mq(md) {
    .shop-category {
        > .col {
            flex: 0 0 16.66%;
            max-width: 16.66%;
            &:nth-child(8) {
                &:after {
                    display: block;
                }
            }
        }
    }
    .shop-inner-filter {
        .filter-panel-inner {
            margin-top: 10px;
            margin-bottom: 30px
        }
    }
}

@include max-mq(sm) {
    .shop-category {
        > .col {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
    .shop-inner-filter {
        .filter-panel-inner {
            padding: 10px 10px;
            display: block;
            .left-detail {
                margin-bottom: 20px;
            }
        }
    }
}

@include max-mq(xs) {
    .shop-category {
        > .col {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
    .product-found {
        padding-bottom: 20px;
        margin-bottom: 20px;
        padding: 25px 15px 15px;
        border-bottom: 1px solid $border-color;
        [dir="rtl"] & {
            text-align: right;
        }
    }
    .shop-inner-filter {
        display: flex;
        flex-wrap: wrap;
        .filter-wrapper {
            order: 1;
            padding: 30px 15px;
            width: 100%;
            border-top: 12px solid #f5f5f5;
            border-bottom: 12px solid #f5f5f5;
        }
        .filter-panel-inner {
            width: 100%;
            margin: 0;
            background-color: transparent;
            padding: 30px 15px 20px;
            .right-detail {
                select {
                    border: none;
                    padding: 0;
                    color: black;
                }
                .filter-btn {
                    margin-left: auto;
                    [dir="rtl"] & {
                        margin-left: 0;
                        margin-right: auto;
                    }
                    svg {
                        width: 14px;
                        height: 14px;
                        margin-right: 5px;
                        [dir="rtl"] & {
                            margin-left: 5px;
                            margin-right: 0;
                        }
                    }
                }
                .grid-filter {
                    li {
                        svg {
                            width: 14px;
                            height: 14px;
                        }
                    }
                }
            }
            .left-detail {
                margin-bottom: 10px;
            }
        }
        .main-title {
            margin-bottom: 15px !important;
        }
        .clear-all {
            margin-bottom: 0;
            margin-top: 16px;
            text-decoration: underline;
        }
        .your-filters {
            display: flex;
            flex-wrap: wrap;
            li {
                width: 46%;
            }
        }
    }
}

@include max-mq(3xs) {
    .shop-category {
        > .col {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }
    }
}